
/*  */

header,footer {
    background-color: rgb(0, 0, 0);
    font-family: monospace;
    size: 40px;
    color: azure;
}


/* Here I adding some new feature like color, font-size and font-family */
body {
    font-family: Arial, Helvetica, sans-serif;
    size: 18px;
    color: rgb(80, 80, 211);
}