
.container{
    width: 900px;
    margin: 0 auto;
    background-color: #403d39;
    padding: 20px;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav li{
    display: inline;
    padding: 0 40px;
    border-right: 1px soild gray;
}

nav li:last-child{
    border-right: none;
}

nav a{
    text-decoration: none;
    color: whitesmoke;
}

.photo-one.avig-img{
    float: left;
    width: 200px;
    margin-right: 20px;
}

header{
    position: relative;
    text-align: center;
}

header img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cadetblue;
    font-size: 40px;
}

body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
}

form{
    border: 1px silver;
    padding: 20px;
}

/* THE TOP OF THE PAGE */

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    margin: 0%;
    padding: 0%;
}

.container{
    width: 900px;
    margin: 0 auto;
    background-color: bisque;
    padding: 20px;
}

.DATA h2{
    margin-top: 20px;
}

.sena-main.jpeg{
    width: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.DATA p{
    line-height: 1.5;
}