
.container{
    width: 900px;
    margin: 0 auto;
    background-color: #fd802e;
    padding: 20px;
}

nav ul{
    list-style: none;
    text-align: center;
    padding: 10px 0;
}

nav li{
    display: inline;
    padding: 0 40px;
    border-right: 1px soild gray;
}

nav li:last-child{
    border-right: none;
}

nav a{
    text-decoration: none;
    color: aqua;
}

.photo-one.avig-img{
    float: left;
    width: 200px;
    margin-right: 20px;
}
